.data__container{
  text-align: left;
  margin-left: 20px;
}


.rv-xy-plot{
  border-style: dashed;

}


.data__table{
  border: 1px solid black;
  width: 80%;
}

.data__table th{
  padding: 10px;
}

.data__table td{
  overflow: hidden;
  border: 1px solid grey;
  padding: 10px;
}

.data__table td:nth-of-type(1){
  width: 40px;
}

.backbutton{
  padding-top: 10px;
}
